body {
    background-color: #ebcbc3;
    color: #59422a;
    }

    nav ul ul {
        display: none;
    }
    nav ul li:hover > ul {
        display: block;
    }
    nav{
        margin: 0 auto;
        text-align: center;
    }
    
.menu ul {
    background: #EDE9D5;
    background: linear-gradient(top, #EDE9D5 0%, #EDE9D5 100%);  
	background: -moz-linear-gradient(top, #EDE9D5 0%, #EDE9D5 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#EDE9D5 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    margin: auto;
	padding: 0 10px;
	border-radius: 15px;  
	list-style: none;
	position: relative;
    display: inline-block;
    text-align: center;
    width: 60%;
}

.menu ul:after {
    content: ""; clear: both; display: block;
}


.menu ul li {
    float:left;
}
    nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
        .menu ul li:hover a {
            color: #fff;
        }
    
    .menu ul li a {
        display: block; padding: 15px 20px;
        color: #757575; text-decoration: none;
    }
