

    body {
        margin: 0;
        padding: 0;
      }
      .secao {
        position: relative;
      }
    
    #secao-01 {
        background-color: #EDE9D5;
    }

    #secao-02 {
        background-color: #E7AB9A;
    }

    #secao-03 {
        background-color: #DF7857;
    }

    #secao-04 {
        background-color: #617143;
    }

    .icone-scroll {
        position: absolute;
        bottom: 3em;
        width: 50px;
        height: 50px;
        background-color: #1a1a1a;
        border-radius: 50%;
        left: 50%;
        margin-left: -25px;
        cursor: pointer;
      }
      .scroll {
        width: 15px;
        height: 15px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: inline-block;
        position: relative;
      }
      .scroll-next {
        transform: rotate(45deg);
        margin: 14px 0 0 16.5px;
      }
      .scroll-top {
        transform: rotate(225deg);
        margin: 19px 0 0 17px;
      }
      .scroll-top + .scroll-top {
        top: -15px;
        margin-top: 0;
      }

      nav ul ul {
        display: none;
    }
    nav ul li:hover > ul {
        display: block;
    }
    nav{
        margin: 0 auto;
        text-align: center;
        background-color: #EDE9D5;
    }
    
.menu ul {
    background: #EDE9D5;
    background: linear-gradient(top, #EDE9D5 0%, #EDE9D5 100%);  
	background: -moz-linear-gradient(top, #EDE9D5 0%, #EDE9D5 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#EDE9D5 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    margin: auto;
	padding:0 20px 0 20px;
	border-radius: 15px;  
	list-style: none;
	position: relative;
    display: inline-block;
    line:height;
    width: 40%;
}

.menu ul:after {
    content: ""; clear: both; display: block;
}


.menu ul li {
    float:left;
}
    nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
        .menu ul li:hover a {
            color: #fff;
        }
    
    .menu ul li a {
        display: block; padding: 15px 30px;
        color: #757575; text-decoration: none;
    }

    .logo {
        text-align: right;
    }